BasedOnStyle: Chromium
BreakBeforeBraces: Linux

ColumnLimit: 0
PointerAlignment: Right
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
IndentWidth: 4
TabWidth: 4
UseTab: Never